// RERE STYLE
.navbar-ct-maggi {
  background-color: #ffed00;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .navbar-ct-maggi .brand {
    color: #66615b !important; }
  .navbar-ct-maggi .navbar-nav > li > a:not(.btn) {
    color: $brand-primary; }
  .navbar-ct-maggi .navbar-nav > .active > a,
  .navbar-ct-maggi .navbar-nav > .active > a:not(.btn):hover,
  .navbar-ct-maggi .navbar-nav > .active > a:not(.btn):focus,
  .navbar-ct-maggi .navbar-nav > li > a:not(.btn):hover,
  .navbar-ct-maggi .navbar-nav > li > a:not(.btn):focus {
    background-color: transparent;
    border-radius: 3px;
    color: #68B3C8;
    opacity: 1;
    filter: alpha(opacity=100); }
  .navbar-ct-maggi .navbar-nav > .dropdown > a:hover .caret,
  .navbar-ct-maggi .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #68B3C8;
    border-top-color: #68B3C8; }
  .navbar-ct-maggi .navbar-nav > .open > a,
  .navbar-ct-maggi .navbar-nav > .open > a:hover,
  .navbar-ct-maggi .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #68B3C8; }
  .navbar-ct-maggi .navbar-nav .navbar-toggle:hover, .navbar-ct-maggi .navbar-nav .navbar-toggle:focus {
    background-color: transparent; }
  .navbar-ct-maggi:not(.navbar-transparent) .btn-ct-maggi:hover {
    color: #68B3C8;
    border-color: #68B3C8; }
  .navbar-ct-maggi:not(.navbar-transparent) .btn-neutral, .navbar-ct-maggi:not(.navbar-transparent) .btn-neutral:hover, .navbar-ct-maggi:not(.navbar-transparent) .btn-neutral:active {
    color: #9A9A9A; }
