<!-- searchblock.twig -->
<section class="subscribe-line search-panel-section">
  <div class="row">
    <div class="medium-7 columns">
      <nav class="icon-bar six-up">
        <a class="item">
          <img src="../assets/img/images/fi-home.svg" >
          <label>Home</label>
        </a>
        <a class="item">
          <img src="../assets/img/images/fi-bookmark.svg" >
          <label>Bookmark</label>
        </a>
        <a class="item">
          <img src="../assets/img/images/fi-info.svg" >
          <label>Info</label>
        </a>
        <a class="item">
          <img src="../assets/img/images/fi-mail.svg" >
          <label>Mail</label>
        </a>
        <a class="item">
          <img src="../assets/img/images/fi-like.svg" >
          <label>Like</label>
        </a>
        <a class="item">
          <img src="../assets/img/images/fi-like.svg" >
          <label>Like</label>
        </a>
      </nav>
    </div>
    <div class="medium-5 columns">
      <div class="row collapse">
        <div class="small-9 columns">
          <div class="form-item form-type-textfield form-item-search-block-form">
            <label class="element-invisible" for="edit-search-block-form--2">Search </label>
            <input title="Enter the terms you wish to search for." type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text">
          </div>
        </div>
        <div class="small-3 columns">
            <button class="secondary button radius postfix expand postfix expand form-submit" id="edit-submit" name="op" value="Search" type="submit">Search</button>
        </div>
        <input type="hidden" name="form_build_id" value="form-pY5gUP565k5zp5P-Z2ojvV2meciTcCs8kPh_VPDp3y4">
        <input type="hidden" name="form_token" value="h3wdR0hxs1RYB32NsktY8QYsY0Y1oxKAWihy7AHP-tQ">
        <input type="hidden" name="form_id" value="search_block_form">
      </div>
    </div>
  </div>
</section>
<!-- !searchblock.twig -->
