<!-- .feature_news -->
<div class="column small-10 column small-offset-1">
  <div class="card card-horizontal card-plain">
    <div class="row">
      <div class="column small-5">
        <div class="image">
          <img alt="{{ title }}" src="{{ image }}"/>
          <div class="filter filter-azure">
            <button class="btn btn-neutral btn-round" type="button">
              <i class="fa fa-heart"></i>
              Recommend
            </button>
          </div>
        </div>
      </div>
      <!-- card .left-side .image -->

      <div class="column small-7">
        <div class="content">
          <p class="category text-info">
            <i class="fa fa-trophy"></i>
            Best of
          </p>

          <a class="card-link" href="#">
            <h4 class="title">{{ title }}</h4>
          </a>
          <a class="card-link" href="#">
            <p class="description">{{ excerpt }}</p>
          </a>
          <div class="footer">
            <div class="stats">
              <a class="card-link" href="#">
                <i class="fa fa-male"></i>
                Radu Tintescu
              </a>
            </div>
            <div class="stats">
              <a class="card-link" href="#">
                <i class="fa fa-comments"></i>
                23 Comments
              </a>
            </div>
            <div class="stats">
              <a class="card-link" href="#">
                <i class="fa fa-heart"></i>
                231 Likes
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- card .right-side .content -->

    </div>
  </div>
  <!-- end card -->
</div>
<!-- !feature_news -->
